.text {
  color: #B3BBBF;
}

.color {
    margin-top: 10px;
    height: auto;
    background-color: #F3F2ED;
}

.jensen {
  color: #E2E2DE;
  font-size: 100px;
  font-size-adjust: auto;
  justify-content: center;
  text-align: center;
}

.navbar {
  min-height: 100px;
}

.logo {
  padding-top: 0px;
  padding-left: 5px;
}

#myNavbar {
  position: relative;
}

#myNavbar .nav {
  position: absolute;
  bottom: 0;
  margin-bottom: -49px;
}

body {
  background-color: #ECECE8;
}