.text {
  color: #B3BBBF;
}

.color {
    margin-top: 10px;
    height: auto;
    background-color: #F3F2ED;
}

.jensen {
  color: #E2E2DE;
  font-size: 100px;
  font-size-adjust: auto;
  justify-content: center;
}

.slider {
  justify-content: center;
}