html {
  background-color: rgb(236, 236, 232);
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 11px;
  color: rgb(130, 131, 131);
  background-color: rgb(236, 236, 232);
}

.text {
  color: #B3BBBF;
}

.color {
  margin-top: 10px;
  height: auto;
  background-color: #F3F2ED;
}

.jensen {
  color: #E2E2DE;
  font-size: 100px;
  font-size-adjust: auto;
  justify-content: center;
  text-align: center;
}

.navbar {
  min-height: 100px;
}

.logo {
  padding-top: 0px;
  padding-left: 5px;
}

#myNavbar {
  position: relative;
}

#myNavbar .nav {
  position: absolute;
  bottom: 0;
  margin-bottom: -49px;
}

.centered {
  text-align: center;
}

.image {
  width: 188px;
  height: 376px;
}

.owl-nav {
  display: none;
}

.owl-carousel:hover .owl-nav {
  display: block;
}

.owl-nav > div {
  margin-top: -26px;
  position: absolute;
  top: 50%;
  color: grey;
}

.owl-nav i {
  font-size: 52px;
}

.owl-nav .owl-prev {
  left: -30px;
}

.owl-nav .owl-next {
  right: -20px;
}

.container {
  background-color: #ECECE8;
}

.modalImage {
  height: 475px;
}

.modal-content {
  background-color: #ECECE8;
}

.modal-header {
  border: 0px;
}

.modal-footer {
  border: 0px;
}

.retailer {}

.retailerInfo {
  padding: 4px 0 10px 10px;
  vertical-align: top;
  color: #828383;
}

.retailerName {
  font-size: 14px;
  width: 280px;
  padding-left: 24px;
}

.retailerPhone {
  width: 160px;
}

.retailerAddress {
  width: 240px;
}

.retailerState {
  font-size: 13px;
  padding: 6px 10px 6px 10px;
  color: #626363;
}

.retailerStateRow {
  background: #DCDCD8
}

.pageTitle {
  font-size: 15px;
  font-weight: bold;
}

.pageContent {
  font-size: 12px;
}

.contactContent {
  font-size: 13px;
}

.footer {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}

.icons {
  text-align: center;
  font-size: 15px;
}

.centered {
  text-align: center;
}

img {
  max-width: 100%;
}