.text {
  color: #B3BBBF;
}

.color {
    margin-top: 10px;
    height: auto;
    background-color: #F3F2ED;
}

.jensen {
  color: #E2E2DE;
  font-size: 100px;
  font-size-adjust: auto;
  justify-content: center;
  text-align: center;
}

.navbar {
  min-height: 100px;
}

.logo {
  padding-top: 0px;
  padding-left: 5px;
}

#myNavbar {
  position: relative;
}

#myNavbar .nav {
  position: absolute;
  bottom: 0;
  margin-bottom: -49px;
}

body {
  background-color: #ECECE8;
}

.centered {
  text-align: center;
}

.image {
  width: 188px;
  height: 376px;
}

.owl-nav {
  display: none;
}
.owl-carousel:hover .owl-nav {
  display: block;
}

.owl-nav > div {
  margin-top: -26px;
  position: absolute;
  top: 50%;
  color: grey;
}
.owl-nav i {
  font-size: 52px;
}
.owl-nav .owl-prev {
  left: -30px;
}
.owl-nav .owl-next {
  right: -20px;
}

.container {
   background-color: #ECECE8;
}

.modalImage {
  height: 475px;
}

.modal-content {
  background-color: #ECECE8;
}

.modal-header {
  border: 0px;
}

.modal-footer {
  border: 0px;
}